.accountMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px ;
    &__accountLeftSection{
        width: 50%;
        display: flex;
        flex-direction: column;
        &__container{
            position: relative;
            margin-top: 40px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            &__verticalBar{
                position: absolute;
                background-color: $color-secondary;
                width: 4px;
                height: 85%;
                margin-top: 8px;
            }
            &__rightContainer{
                &__paragraph{
                    margin-left: 40px;
                    margin-top: 0;
                    margin-bottom: 40px;
                    &__bulletPoint{
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        border-radius: 10px;
                        background-color: $color-secondary;
                        margin-left: -48px;
                        margin-top: 8px;
                    }
                    h3{
                        margin-bottom: 0;
                    }
                    p{
                        margin-top: 0;
                    }
                }
             }
         }
    
     }
     &__accountRightSection{
        width: 50%;
        display: flex;
        align-items: center;
        img{
            margin-left: 5vw;
        }
     }
}

.buttonBulletPoint{
    margin-top: 20px;
}
// .accountMainBackground{
//     position: absolute;
//     z-index: -1;
//     left: 0;
//     bottom: 0;
// }