.createaccountMain {
    display: flex;
    background-image: url("/assets/images/background_createaccount.svg");
    width: 100%;
    height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -200;
    padding-top: 120px;
    box-sizing: border-box;
    &__createaccountLeftSection{
        padding: 0 80px;
        width: 50%;
        form {
            margin-top: 40px;
            p.secondary {
                margin: 0;
            }
        }
    }

}

.createaccountMain{
    &__createaccountRightSection {
        width: 50%;
        img{
            width: 100%;
        }
    }
}


.createaccountButtonCont{
margin-left: 160px;
}
