// Explore
.exploreMain{
    &__exploreContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__explorer{
            position: relative;
            width: 41vw;
            margin-top: 35px;
            &__researcher{
                width: 100%;
                padding: 16px;
                border-radius: 10px;
                color: $text-color;
                text-decoration: none;
                font-family: $font-primary;
                font-size: $font-size-body;
                border: 2px solid;
                border-color: $color-secondary;
                background-color: $background-color;
                outline: none;
                cursor: pointer;
                box-sizing: border-box;
            }
            &__subResearcher{
                position: absolute;
                top: 0;
                left: 0;
                z-index: -100;
                width: 100%;
                height: 57px;
                padding: 16px;
                border-radius: 10px;
                color: $text-color;
                text-decoration: none;
                font-family: $font-primary;
                font-size: $font-size-body;
                border: 2px solid;
                border-color: $color-secondary;
                background-color: $background-color;
                opacity: 0.5;
                transition: transform .2s;
                transition-timing-function: ease-in-out;
                transform: translate(-4px, 4px);
                will-change: transform;
                box-sizing: border-box;
                &__list{
                    list-style: none;
                    &__line{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 16px 0px;
                        cursor: pointer;
                        &__info{
                            display: flex;
                            flex-direction: row;
                            &__name{
                                margin-right: 8px;
                            }
                        }
                        &__number{
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
        &__lastTokenTraffic{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__backgroundExplorer{
                position: absolute;
                top: -40px;
                left: 0;
                z-index: -100;
                width: 100vw;
                height: 100vh;
                background: no-repeat url('../../../assets/images/background-explorer.svg');
                background-size: cover;
            }
            &__title{
                color: $background-color;
            }
            &__list{
                margin-top: 16px;
                list-style: none;
                &__line{
                    width: 42vw;
                    &__date{
                        margin-left: 25px;
                        font-size: 12px;
                        color: $background-color;
                    }
                    &__deal{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 16px 24px 16px 16px;
                        border-radius: 5px;
                        box-shadow: inset 0px 0px 10px rgba(0,0,0,.5);
                        background: $background-color;
                        &__mention{
                            &__spec{
                                font-family: $font-size-subtitle;
                                font-weight: bold;
                                font-size: $font-size-body;
                            }
                        }
                        &__value{
                            font-family: $font-size-subtitle;
                            font-weight: bold;
                            font-size: $font-size-subtitle;
                        }
                    }
                }
            }
        }
    }
}
.subResearcherOpen{
    display: inline-table;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 100;
    margin-top: 48px;
    padding: 0px 16px;
    opacity: 1;
    transform: translate(0px, 0px);
    transition: transform 0s;
    will-change: transform;
}