// Explore
.exploreMain{
    margin-top: 80px;
    &__exploreContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__explorer{
            position: relative;
            z-index: 2;
            width: 50vw;
            margin-top: 35px;
            &__researcher{
                width: 100%;
                padding: 16px;
                border-radius: 10px;
                color: $text-color;
                text-decoration: none;
                font-family: $font-primary;
                font-size: $font-size-body;
                border: 2px solid;
                border-color: $color-secondary;
                background-color: $background-color;
                outline: none;
                cursor: pointer;
                box-sizing: border-box;
            }
            &__researcher::placeholder {
                color: $text-color-secondary;
                font-family: $font-primary;
                font-size: $font-size-body;
            }
            &__subResearcher{
                position: absolute;
                top: 0;
                left: 0;
                z-index: -100;
                width: 100%;
                min-height: 100%;
                padding: 16px 16px 0;
                border-radius: 10px;
                color: $text-color;
                text-decoration: none;
                font-family: $font-primary;
                font-size: $font-size-body;
                border: 2px solid;
                border-color: $color-secondary;
                background-color: $background-color;
                opacity: 0.5;
                transition: transform .2s;
                transition-timing-function: ease-in-out;
                transform: translate(-4px, 4px);
                will-change: transform;
                box-sizing: border-box;
                &__list{
                    display: none;
                    list-style: none;
                    &__title{
                        font-family: $font-subtitle;
                        font-size: $font-size-subtitle;
                    }
                    &__line{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 16px 0px;
                        &__info{
                            display: flex;
                            flex-direction: row;
                        }
                        &__number{
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
        &__lastTokenTraffic{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            padding: 40px 0px;
            background: no-repeat url('../../../assets/images/background-explorer.svg');
            background-size: 100% 100%;
            box-sizing: border-box;
            &__title{
                color: $background-color;
            }
            &__list{
                list-style: none;
                &__line{
                    margin-top: 16px;
                    width: 42vw;
                    &__date{
                        margin-left: 25px;
                        font-size: 12px;
                        color: $background-color;
                    }
                    &__deal{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 16px 24px 16px 16px;
                        border-radius: 5px;
                        box-shadow: inset 0px 0px 10px rgba(0,0,0,.5);
                        background: $background-color;
                        &__mention{
                            &__spec{
                                text-transform: capitalize;
                                font-family: $font-size-subtitle;
                                font-weight: bold;
                                font-size: $font-size-body;
                            }
                        }
                        &__value{
                            font-family: $font-size-subtitle;
                            font-weight: bold;
                            font-size: $font-size-subtitle;
                        }
                    }
                }
            }
        }
    }
}
.subResearcherOpen{
    opacity: 1;
    transform: translate(0, 50px);
    transition: transform .3s;
    will-change: transform;
    .exploreMain__exploreContainer__explorer__subResearcher__list {
        display: block;
    }
}
.capital{
    text-transform: capitalize;
}
.numberOpacity{
    opacity: 0.7;
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: $text-color;
    cursor: pointer;
}