// Header
.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    z-index: 10000;
    &__logo{
        height: 60px;
    }
    &__menu{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        li{
            margin-left: 40px;
            a{
                text-decoration: none;
                color: $text-color;
            }
        }
    }
    &__menuButton{
        display: none;
    }
}

.subMenu{
    display: none;
}