.integrateMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px ;
    height: 100%;
    &__integrateLeftSection{
        width: 50%;
        display: flex;
        flex-direction: column;
        &__container{
            position: relative;
            margin-top: 40px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            &__verticalBar{
                position: absolute;
                background-color: $color-secondary;
                width: 4px;
                height: 135%;
                margin-top: 8px;
            }
            &__rightContainer{
                &__paragraph{
                    margin-left: 40px;
                    margin-top: 0;
                    margin-bottom: 40px;
                    &__bulletPoint{
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        border-radius: 10px;
                        background-color: $color-secondary;
                        margin-left: -48px;
                        margin-top: 8px;
                    }
                    h3{
                        margin-bottom: 0;
                    }
                    p{
                        margin-top: 0;
                    }
                }
             }
         }
    
     }
     &__integrateRightSection{
        width: 50%;
        display: flex;
        align-items: center;
        img{
            margin-left: 5vw;
        }
     }
     &__bottomSection{
         margin-top: 20vh;
         width: 100%;
         img{
             margin-top: -20vh;
             position: absolute;
             width: 100%;
             transform: scaleX(1.2);
             left: -1vw;
             z-index: -1;
         }
         &__formContainer{
             display: flex;
             flex-direction: column;
             align-items: center;
             &__formTitle{
                 color: $background-color;
             }
             form{
                 width: 25vw;
                 color: $background-color;
                 display: flex;
                 flex-direction: column;
                 label{
                     margin-top: 8px;
                 }
                 a{
                    width: auto;
                    margin-top:40px ;
                    margin: 0 auto;
                }
             }
         }
     }
}

.buttonBulletPoint{
    margin-top: 20px;
}
.bulletPoint{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: $color-secondary;
    margin-left: -8px;
    margin-top: 8px;
}

.input{
    background-color: $color-primary;
    color: $background-color;
    margin-top: 0;
    border: solid $background-color 3px;
    height: 40px;
    -webkit-appearance: none;
    align-items: center;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: $font-primary;
    padding-left: 16px;

}

.input.error{
    border-color: red
}

::placeholder{
    color: $background-color;
    opacity: 1;
    font-size: 12px;
}

#textField{
    height: 100px;
    margin-bottom: 80px;
}
