.landingMain{
    &__middleContainer{
        width: 30vw;
        margin: 0 auto;
        text-align: center;
        &__landingTitle{
            font-size: $font-size-title;
            font-family: $font-title;
        }
        p{
            font-family: $font-primary;
            font-size: $font-size-body;
        }
        .primaryButton{
            display: inline-block;
        }
    }
}