.landingMain{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    &__landingContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/assets/images/backgrounds_landing/fondegrade.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        padding: calc(15vh + 80px) 0 30vh;
        margin-bottom: 15vh;
        &__middleContainer{
            width: 40vw;
            text-align: center;
            &__landingTitle{
                margin-bottom: 16px;
            }
            p{
                margin-bottom: 40px;
            }
            &__buttonContainer{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
    &__landingFirstSection{
        text-align: center;
        &__iconsList{
            text-align: left;
            margin: 80px 0;
            display: flex;
            justify-content: space-around;
            &__iconContainer{
                p{
                    text-align: left;
                }
            }
        }
    }
    &__landingSecondSection{
        overflow: hidden;
        margin: 40px 0;
        padding: 80px 0;
        width: 100%;
        background: url('/assets/images/backgrounds_landing/bluewavebg.svg');
        background-position: -10vw 0vw;
        background-repeat: no-repeat;
        background-size: 120% 100%;
        text-align: center;
        h3{
            color: $background-color;
        }
        &__secondSectionIconContainer{
            margin: 0 auto;
            width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            img{
                margin-right: 40px;
            }
            p{
                color: $background-color;
            }

        }
        a{
            margin-top: 16px;
        }
        
    }
}

.iconContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    img{
        margin-right: 16px;
    }
}

.secondSectionIconContainer{
    width: 50vw;

}