// Primary button
a.primaryButton{
    display: inline-block;
    position: relative;
    padding: 16px 32px;
    border-radius: 10px;
    text-decoration: none;
    background-color: $color-secondary;
    color: $background-color;
}

a.primaryButton::after{
    content: " ";
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: $color-secondary;
    opacity: 0.5;
    transition: transform .2s;
    transition-timing-function: ease-in-out;
    transform: translate(-4px, 4px);
    will-change: transform;
}

a.primaryButton:hover::after{
    transform: translate(-6px, 6px);
}
// Info bars
.infobar{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 30vw;
    padding: 16px 6vw;
    border-radius: 5px;
    background-color: $background-color;
    
    &__number,&__subject{
        margin-right: 8px;
        font-family: $font-size-title;
        font-weight: bold;
        font-size: $font-size-subtitle;
    }
}


.infobar::after{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: $color-secondary;
    opacity: 0.5;
    transform: translate(-4px, 4px);
}
// H1 display none
h1{
    display: none;
}

h2{
    font-size: $font-size-title;
    font-family: $font-title;
}

h3{
    font-size: $font-size-subtitle;
    font-family: $font-subtitle;
}
p{
    font-family: $font-primary;
    font-size: $font-size-body;
}