// Mouse animated effect
.js-mouseAnimated {
    will-change: transform;
}

// Primary button
a.primaryButton, button.primaryButton{
    font-family: $font-primary;
    font-size: $font-size-body;
    -webkit-appearance: none;
    border: none;
    display: inline-block;
    position: relative;
    padding: 16px 32px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: $color-secondary;
    color: $background-color;
    z-index: 1;
}

a.primaryButton::after, button.primaryButton::after{
    content: " ";
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: $color-secondary;
    opacity: 0.5;
    transition: transform .2s;
    transition-timing-function: ease-in-out;
    transform: translate(-4px, 4px);
    will-change: transform;
}

a.primaryButton:hover::after, button.primaryButton:hover::after {
    transform: translate(-6px, 6px);
}

// Secondary Button
a.secondaryButton{
    display: inline-block;
    position: relative;
    padding: 12px 32px;
    border-radius: 10px;
    text-decoration: none;
    border: solid 4px $color-secondary;
    color: $color-secondary;
    z-index: 1;
}

a.secondaryButton::after{
    content: " ";
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid 4px $color-secondary;
    opacity: 0.5;
    transition: transform .2s;
    transition-timing-function: ease-in-out;
    transform: translate(-8px, 0px);
    will-change: transform;
}

a.secondaryButton:hover::after{
    transform: translate(-12px, 4px);
}

// Info bars
.tokenTraffic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 80px 70px 80px;
    &__info{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        width: 30vw;
        padding: 16px 6vw;
        border-radius: 5px;
        background-color: $background-color;
        &__number,&__subject{
            margin-right: 8px;
            font-family: $font-size-title;
            font-weight: bold;
            font-size: $font-size-subtitle;
        }
    }
    &__info::after{
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: $color-secondary;
        opacity: 0.5;
        transform: translate(-4px, 4px);
    }
}

// Title
h1,h2,h3{
    margin: 0;
}
h1,h2,h3,p {
    color: $text-color;
}

h1{
    display: none;
}

h2{
    font-family: $font-title;
    font-size: $font-size-title;
}

h3{
    font-family: $font-subtitle;
    font-size: $font-size-subtitle;
}

p{
    font-family: $font-primary;
    font-size: $font-size-body;
}
p.secondary {
    color: $text-color-secondary;
}

// Invisible
.invisible{
    display: none;
}

// error

.input{
    background-color: $color-primary;
    color: $background-color;
    margin-top: 0;
    border: solid $background-color 3px;
    padding: 10px;;
    width: 100%;
    -webkit-appearance: none;
    align-items: center;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: $font-primary;
    padding-left: 16px;
}

.input.error{
    border-color: rgb(204, 37, 37);
}

.errorSpan {
    display: block;
    color: rgb(204, 37, 37);
    margin-top: 4px;
    margin-left: 8px;
    margin-bottom: 16px;
}