.sendtokenMain{
    padding: 80px 40px 0;
    box-sizing: border-box;
    background-image: url("/assets/images/background_send_token.svg");
    width: 100%;
    height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;

    .sendtokenContainerSection {
        padding-top: 80px;
        display: flex;
    }

    &__progressBar{
        width: 100%;
        height: 5px;
        background-color: rgba(41,35,92,0.2);
        border-radius: 2px;
        overflow: hidden;
        &__progression {
            background: #672483;
            width: 33.3333%;
            height: 100%;
        }
    }
    &__sendtokenLeftSection{
        position: relative;
        width: 50%;
        overflow: hidden;
        &__formContainer {
            position: absolute;
            width: 300%;
            display: flex;
            form {
                width: 33.33%;
            }
        }
    }
    &__sendtokenRightSection{
        padding-bottom: 120px;
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

.form__sendtoken{
    label {
        padding-left: 8px;
        display: block;
    }
    label.inline {
        display: inline-block;
    }
}

#checksend{
    outline: none;
    border-radius: 10px;
    border: solid $background-color 3px;
}


.container__sendtokenButton{
    margin-left: 20%;
    margin-top: 24px;
}

#savoirForm {

}

#receiversForm {

}