.sendtokenMain{
    padding: 80px 40px 0;
    box-sizing: border-box;
    background-image: url("/assets/images/background_send_token.svg");
    width: 100%;
    height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;

    &__progressBar{
        width: 100%;
        height: 5px;
        background-color: rgba(41,35,92,0.2);
        border-radius: 2px;
        overflow: hidden;
        &__progression {
            background: #672483;
            width: 33.3333%;
            height: 100%;
        }
    }
    &__sendtokenLeftSection{
        padding-top: 80px;
        width: 50%;
    }
    &__sendtokenRightSection{
        padding-top: 80px;
        width: 50%;
        display: flex;
        justify-content: center;
    }
}
.sendtokenContainerSection{
    display: flex;
}

.inputsendtoken{
    box-sizing: border-box;
    background: transparent;
    color: $text-color;
    margin-top: 0;
    border: solid $text-color 3px;
    width: 60%;
    -webkit-appearance: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: $font-primary;
    padding: 8px 16px;
    margin-bottom: 16px
}
.largeInputSendToken {
    width: 80%;
}

.form__sendtoken{
    label {
        padding-left: 8px;
        display: block;
    }
    label.inline {
        display: inline-block;
    }
}

#checksend{
    outline: none;
    border-radius: 10px;
    border: solid $background-color 3px;
}


.container__sendtokenButton{
    margin-left: 20%;
    margin-top: 24px;
}