.validationMain{
    box-sizing: border-box;
    background-image: url("/assets/images/background_send_token.svg");
    width: 100%;
    height: calc(100vh - 80px);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    &__container{
        margin-top: 98px;
        height: 75%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

a.primaryButtonValidation{
    margin-top: 24px;
}

.imgValidat{
    width: 50%;
}