.integrateMain{
    &__sectionContainer {
        padding: 0 26px;
        &__integrateLeftSection {
            width: 100%;
        }
        &__integrateRightSection{
            display: none;
        }
    }
    &__bottomSection{
        padding: 80px 40px;
        .bulletPoint {
            margin-left: -22px;
        }
        &__formContainer{
            form{
                width: 80%;
                a{
                    width: auto;
                }
            }
        }
    }
}