.sendtokenMain__sendtokenRightSection{
    display: none;
}

.sendtokenMain__sendtokenLeftSection{
    width: 100%;
}

.checksendtext{
    color: $text-color;
}

.inputsendtoken{
    width: 100%;
}

.container__sendtokenButton{
    margin-left: 0%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.checkboxDiv {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}