.sendtokenMain__sendtokenRightSection{
    display: none;
}

.sendtokenMain__sendtokenLeftSection{
    width: 100%;
    .input {
        width: 99%;
    }
}

.checksendtext{
    color: $text-color;
}

.checkboxDiv {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}