.aboutMain{
    &__aboutFirstSection{
        padding: 120px 26px 26px 26px;
        img{
            display: none;
        }
        &__leftContainer{
            width: 100%;
        }
    }
    &__aboutSecondSection{
        padding: 80px 26px;
        &__firstRow{
            flex-direction: column;
            margin-bottom: 0;
            &__profile{
                margin: 0;
                margin-bottom: 16px;
                &__text{
                    width: auto;
                }
            }
        }
    }
}

.lastProfile{
    margin: 0;
}