@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

@font-face{
    font-family: 'Manrope-Bold';
    font-weight: bold;
    src: url('../fontsManrope-Bold.otf')
}

@font-face{
    font-family: 'Manrope-Medium';
    src: url('../fonts/Manrope-Medium.otf')
}

$color-primary: #29235C;
$color-secondary: #662483;
$background-color: #FAF8F8;
$text-color: #0D0D0D;

$font-title: 'Righteous', cursive;
$font-subtitle: 'Manrope-Bold', sans-serif;
$font-primary: 'Manrope-Medium', sans-serif;
$font-size-title: 32px;
$font-size-subtitle: 25px;
$font-size-body: 16px;