@import "_config.scss";

@import "partials/landing";
@import "partials/about";
@import "partials/account";
@import "partials/integrate";
@import "partials/header";
@import "partials/footer";
@import "partials/library";
@import "partials/explorer";
@import "partials/profil";

@media screen and (orientation:portrait){
  @import "partials/responsive/landing";
  @import "partials/responsive/integrate";
  @import "partials/responsive/account";
  @import "partials/responsive/profil";
  @import "partials/responsive/explorer";
  @import "partials/responsive/header";
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: $font-primary;
  font-size: $font-size-body;
  overflow-x: hidden;
  width: 100vw;
}
ul{
  margin: 0;
  padding: 0;
}